body {
  background-image: url(ideiglenes-hatter.jpg)  ;
}

.idei-szoveg {
  color: white;
}

.nav ul {
    background-color: rgb(33, 32, 32);
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
.nav li {
    float: left;
    border-right: 1px solid white;
}
.nav li a {
    color: white;
    display: block;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;

}
.nav li a:hover {
    background-color: rgb(53, 51, 51);
}

header {
    margin-right: 50px;
    margin-left: 50px;
}

.kontener {
    position: relative;
    width: 50%;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.morpho {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
  
.kontener:hover .image {
  opacity: 0.3;
}
  
.kontener:hover .morpho {
  opacity: 1;
}
  
.m-szöveg {
  color: white;
  font-size: 18px;
  padding: 16px 32px;
}

idáig afadelős kép ami adja acímét 

.radius {
  border-radius: 8px;
}

#info-kartya {
  padding: 20px;
  text-align: center;
  font-size: large;
  background-color: rgb(58, 58, 58);
  color: white;
}
 
.ui {
  font-size: 0,5em;

}
.szöveg{
  color:white
}
  .Főcím1{
    text-align: center;
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;

  }
  #szépház{
    margin-left: 270px;

  }
  .btn-group{
    margin-left: 350px;
  }
  .kép1{
    font-size: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
  }

  .bszoveg {
    text-align: justify;
    padding: 30px;
    border-radius: 8px;
    color: white;
    background-color: rgba(0, 0, 0, 0.782);
    box-shadow: 4px 4px 4px black;
    text-indent: 1.5cm;
    font-size: large;
  }
  .bcim {
    text-align: center;
    padding: 30px;
    border-radius: 8px;
    color: white;
    background-color: rgba(15, 15, 15, 0.849);
    box-shadow: 4px 4px 4px black;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .kozep-margo {
    margin-left: 300px;
    margin-right: 300px;
  }

  .container {
    position: relative;
    width: 50%;
    max-width: 300px;
  }
  .image {
    display: block;
    width: 111%;
    height: auto;
  }
  .overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  #címer{
    width: 70px;
    height: 150px;
    margin-left: 10px;
  }
  .container:hover .overlay {
    opacity: 1;
  }